<nav>

    <div class="navbar">

        <div class="logo">
            📚 ARTICLE
        </div>

        <div class="nav-links" id="navLinks">

            {% if request.user.is_authenticated %}

                <a href="{% url 'profile' %}">Profile</a>

                <a href="{% url 'read_article' %}">Article List</a>

                <a href="{% url 'read_genre' %}">Genre List</a>

                <a href="{% url 'signout' %}">Sign Out</a>

            {% else %}

                <a href="{% url 'signup' %}">Sign Up</a>

                <a href="{% url 'signin' %}">Sign In</a>

            {% endif %}

        </div>

        <div class="menu-btn" id="menuBtn">

            ☰

        </div>

    </div>

</nav>

<script>

const menuBtn = document.getElementById("menuBtn");

const navLinks = document.getElementById("navLinks");

menuBtn.addEventListener("click",function(){

    navLinks.classList.toggle("show");

});

document.querySelectorAll(".nav-links a").forEach(link=>{

    link.addEventListener("click",function(){

        document.querySelectorAll(".nav-links a").forEach(item=>{

            item.classList.remove("active");

        });

        this.classList.add("active");

    });

});

</script>